:root {
	--bg-colour: white;
}
body {
	bg-color: var(--bg-colour);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	text-align: center;
}

#root {
	/*border: 1px solid black; */
}

nav {
	--span-dim: 6em; /*The dimension of the navigation spans  */
}


nav {
	position: fixed;
	bottom: 5px;
	left: 2.5vw;
	width: 95vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

nav span {
	text-align: center;
	vertical-align: center;
	display: inline-block;
	width: var(--span-dim);
	border: 3px solid var(--bgb-color);
}

nav span.current {
	border: 3px solid blue;
}

nav button {
	width: calc(var(--span-dim) / 2);
}

nav button, nav span {
	font-size: 200%;
	border-radius: calc(var(--span-dim) / 10);
}

mark.response {
	color: red;
}

div.summaryResults {
	display: inline-block;
	text-align: left;
}
